/* justify-content can be used to give space*/
ol{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-style: italic;
    font-size: 20px;
    background-color: aliceblue;
    color: #000000;
    width: 1490px;
    margin: 0;
    top: 0;
    position: fixed;
}

.link{
    text-decoration: none;
    color: black;
}
li{
    text-decoration: none;
    padding: 15px;
    list-style-type: none;
}